* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f3142;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 767px) {
  /* #srobh {
    text-align: center;
    color: aqua;
    -webkit-text-stroke: 3px #000;
  } */
  #nav {
    display: flex;
    justify-content: center;
  }
  #nav-bar {
    /* border: 4px dashed black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7vh;
    width: 95vw;
    margin-top: 20px;
    border-radius: 50px;
    background: linear-gradient(145deg, #1c2c3b, #213447);
    box-shadow: 20px 20px 50px #101921, -20px -20px 50px #2f4a63;
  }
  #nav-button {
    /* border: 3px dashed; */
    padding: 10px 20px;
    background: #ffffff;
    border: none;
    border-radius: 0.5rem;
    color: #4f779c;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 50px;
    background: linear-gradient(145deg, #213447, #1c2c3b);
    box-shadow: 20px 20px 50px #101921, -20px -20px 50px #2f4a63;
  }
  #nav-button:active {
    border-radius: 50px;
    background: linear-gradient(145deg, #1c2c3b, #213447);
    box-shadow: 20px 20px 50px #101921, -20px -20px 50px #2f4a63;
  }
  #main {
    display: flex;
    justify-content: center;
  }

  #home-container,
  #projects-container {
    margin-top: 40px;
    height: 92vh;
    width: 90vw;
    margin-bottom: 20vh;
    border-radius: 50px;
    background: linear-gradient(145deg, #213447, #1c2c3b);
    box-shadow: 20px 20px 50px #101921, -20px -20px 50px #2f4a63;
  }
}
